nodered/flows/flows.json
[{"id":"886787e4.104da8","type":"tab","label":"test1","disabled":false,"info":""},{"id":"5e0458f8.554f2","type":"inject","z":"886787e4.104da8","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":218.5,"y":107,"wires":[["79a2f5d0.ee7814"]]},{"id":"6d6b091b.84f278","type":"mysql","z":"886787e4.104da8","mydb":"92388c10.c8e8a","name":"Industry40db","x":744.5,"y":99,"wires":[["78f187f4.feb19","e0ac170d.8ff1d8","308f1eed.b75e2a"]]},{"id":"79a2f5d0.ee7814","type":"function","z":"886787e4.104da8","name":"SELECT Temp Query","func":"\nmsg.topic = 'SELECT temperature, humidity FROM TestData ORDER By id DESC LIMIT 1'\nreturn msg;","outputs":1,"noerr":0,"x":478.5,"y":107,"wires":[["6d6b091b.84f278"]]},{"id":"78f187f4.feb19","type":"debug","z":"886787e4.104da8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":208.5,"y":192,"wires":[]},{"id":"e0ac170d.8ff1d8","type":"ui_gauge","z":"886787e4.104da8","name":"Temperature","group":"c554762a.fb9d78","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Deg C","format":"{{msg.payload[0].temperature}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"18","seg2":"25","x":229.5,"y":248,"wires":[]},{"id":"308f1eed.b75e2a","type":"ui_gauge","z":"886787e4.104da8","name":"Humidity","group":"c554762a.fb9d78","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{msg.payload[0].humidity}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"90","x":223.5,"y":314,"wires":[]},{"id":"e1510109.bdc13","type":"inject","z":"886787e4.104da8","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":286.5,"y":453,"wires":[["2740af42.c63288"]]},{"id":"2740af42.c63288","type":"function","z":"886787e4.104da8","name":"SELECT temp Query","func":"msg.topic=\"SELECT temperature FROM TestData ORDER BY id DESC LIMIT 1\"\nreturn msg;","outputs":1,"noerr":0,"x":317.5,"y":531,"wires":[["c715de6c.346b7"]]},{"id":"c715de6c.346b7","type":"mysql","z":"886787e4.104da8","mydb":"92388c10.c8e8a","name":"data base connection","x":316.5,"y":598,"wires":[["b66fab9b.a67ee","b7110929.e1077","48329ebb.4348d"]]},{"id":"b66fab9b.a67ee","type":"debug","z":"886787e4.104da8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":287.5,"y":667,"wires":[]},{"id":"b7110929.e1077","type":"ui_gauge","z":"886787e4.104da8","name":"Room Temperature ","group":"c554762a.fb9d78","order":2,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"deg C","format":"{{msg.payload[0].temperature}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"18","seg2":"26","x":313.5,"y":739,"wires":[]},{"id":"15a12869.6c955","type":"ui_text","z":"886787e4.104da8","group":"c554762a.fb9d78","order":4,"width":0,"height":0,"name":"Debug text","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":298.5,"y":795,"wires":[]},{"id":"48329ebb.4348d","type":"ui_gauge","z":"886787e4.104da8","name":"Room Humidity","group":"c554762a.fb9d78","order":3,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"% rh","format":"{{msg.payload[0].humidity}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"70","x":303.5,"y":840,"wires":[]},{"id":"92388c10.c8e8a","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"Industry40db","tz":"GMT+10"},{"id":"c554762a.fb9d78","type":"ui_group","z":"","name":"E223 Room Monitoring","tab":"4c87f996.5361b","disp":true,"width":"6","collapse":false},{"id":"4c87f996.5361b","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]